header{
    height: 100px;
    border: 2px dashed red;

}
main{
    height: 1000px;
    border: 2px dashed green;
    
}
footer{
    height: 300px;
    border: 2px dashed blue;
    background-color: gray
   
}
.login_form{
    background-color: lightblue;
    width: 90%;
    align-items: center;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}
.log_img{
    height: 30px;
}
.navigation_bar{
    text-align:right;
}
.main_header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.list_items{
    border: 1px solid black;
    border-radius: 15px;
    margin: 15px;
    padding: 10px;
}